{% extends 'login.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Please sign in</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form method="post">
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <div class="form-group">
                <label for="inputUsername">{{ 'Username'|trans }}</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">{{ 'Password'|trans }}</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="_remember_me">
                    <label class="form-check-label" for="exampleCheck1">{{ 'Remember me'|trans }}</label>
                </div>
                <button class="btn btn-lg btn-primary" type="submit">
                    {{ 'Sign in'|trans }}
                </button>
            </form>
        </div>
    </div>
</div> <!-- /container -->
{% endblock %}
