{% extends 'advertizer.html.twig' %}

{% block page_header %}
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{{ 'Orders'|trans }}</span> - 1 Page</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none text-center text-md-left mb-3 mb-md-0">
            <a href="{{ path('admin_products_new') }}" class="btn btn-labeled btn-labeled-right bg-primary">Add new <b><i class="icon-menu7"></i></b></a>
        </div>
    </div>
{% endblock page_header %}

{% block content %}

    {% include 'default/_flash_messages.html.twig' %}

    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">{{ 'Orders'|trans }}</h5>
        </div>
        <div class="card-body">
            {% if orders -%}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>UUID</th>
                        <th>Created</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%
                        set statuses = {
                            'new' : 'primary',
                            'sent' : 'secondary',
                            'completed' : 'success'
                        }
                    %}
                    {% for order in orders -%}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.uuid }}</td>
                        <td>{{ order.createdAt|date }}</td>
                        <td>
                            {% if order.status in statuses|keys %}
                                <span class="badge badge-{{ attribute(statuses, order.status) }}">{{ order.status }}</span>
                            {% else %}
                                <span class="badge badge-warning">{{ order.status }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('admin_orders_edit', {'id': order.id}) }}" class="btn btn-outline-primary btn-sm">{{ 'Edit'|trans }}</a>
                            <a href="{{ path('admin_orders_show', {'id': order.id}) }}" class="btn btn-outline-primary btn-sm">{{ 'Show'|trans }}</a>
                        </td>
                    </tr>
                    {% endfor -%}
                    </tbody>
                </table>
            </div>
            {% else -%}
            <p>No orders</p>
            {% endif -%}
        </div>
    </div>
{% endblock %}