{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block main %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">{{ 'Welcome to Agile club' }}</h1>
            <p>{{ 'Some speaking about Agile' }}</p>
            <p><a class="btn btn-primary btn-lg" href="{{ path('product_list') }}" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Speakers</h2>
                <p>{{ 'Lets talk about agile and our mission'|trans }}</p>
                <p><a class="btn btn-secondary" href="{{ path('product_list') }}" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Club</h2>
                <p>{{ 'We have 200 members now'|trans }}</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Donate</h2>
                <p>{{ 'Give a little of mone for us'| trans }}<p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        {{ include('default/_flash_messages.html.twig') }}
    </div> <!-- /container -->
{% endblock %}
