{% extends 'base.html.twig' %}


{% block main %}
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ products[0].title }}</h5>
                    <p class="card-text">{{ products[2].description }}</p>
                    <a href="{{ path('product_order', {"id": products[0].id}) }}" class="btn btn-primary">{{ 'Order'|trans }}</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ products[1].title }}</h5>
                    <p class="card-text">{{ products[2].description }}</p>
                    <a href="{{ path('product_order', {"id": products[1].id}) }}" class="btn btn-primary">{{ 'Order'|trans }}</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ products[2].title }}</h5>
                    <p class="card-text">{{ products[2].description }}</p>
                    <a href="{{ path('product_order', {"id": products[2].id}) }}" class="btn btn-primary">{{ 'Order'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
