<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Guild application{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.svg') }}" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('login') }}
    {% endblock %}
</head>

<body class="text-center">
<form class="form-signin" method="post">
{#    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">#}
    <h1 class="h3 mb-3 font-weight-normal">{{ 'Please sign in'|trans }}</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <label for="inputUsername" class="sr-only">{{ 'Username'|trans }}</label>
    <input type="text" id="inputUsername" value="{{ last_username }}" name="username" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">{{ 'Password'|trans }}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me" name="_remember_me"> {{ 'Remember me'|trans }}
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'Sign in'|trans }}</button>
    {% if error %}
    <p class="mt-5 mb-3 text-muted"><a href="{{ path('user_forgot_password') }}">{{ 'Forgot password?'|trans }}</a></p>
    {% endif %}
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>

</body>
</html>
