{% extends 'advertizer.html.twig' %}

{% block page_header %}
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{{ 'Products'|trans }}</span> - 1 Page</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none text-center text-md-left mb-3 mb-md-0">
            <a href="{{ path('admin_products_new') }}" class="btn btn-labeled btn-labeled-right bg-primary">Add new <b><i class="icon-menu7"></i></b></a>
        </div>
    </div>
{% endblock page_header %}

{% block content %}

    {% include 'default/_flash_messages.html.twig' %}

    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">{{ 'Products'|trans }}</h5>
        </div>
        <div class="card-body">
            {% if products -%}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products -%}
                    <tr>
                        <td><a href="{{ path('admin_products_edit', {'id': product.id}) }}">{{ product.id }}</a></td>
                        <td><a href="{{ path('admin_products_edit', {'id': product.id}) }}">{{ product.title }}</a></td>
                        <td>{{ product.destinationUrl }}</td>
                        <td>{{ product.createdAt|date }}</td>
                        <td><a href="{{ path('admin_products_show', {'id': product.id}) }}" class="btn btn-outline-primary btn-sm">{{ 'Show'|trans }}</a></td>
                    </tr>
                    {% endfor -%}
                    </tbody>
                </table>
            </div>
            {% else -%}
            <p>No products. You can add new here</p>
            <a href="{{ path('admin_products_new') }}" class="btn bg-blue">New product</a>
            {% endif -%}
        </div>
    </div>
{% endblock %}