{% extends 'admin/product/index.html.twig' %}

{% block page_header %}
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{{ 'Product'|trans }}</span></h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    {% include 'default/_flash_messages.html.twig' %}

    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">{{ product.title }}</h5>
        </div>
        <div class="card-body">
            {{ product.destinationUrl }}
        </div>
    </div>

    {% if stock is defined %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">{{ 'Stock'|trans }}</h5>
        </div>
        <div class="card-body">
            {% if stock|length > 0 %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for action in stock -%}
                            <tr>
                                <td>{{ action.id }}</td>
                                <td>{{ action.startAt|date }}</td>
                            </tr>
                        {% endfor -%}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div><i>No stock</i></div>
            {% endif %}
            {% form_theme formStock 'bootstrap_4_horizontal_layout.html.twig' %}
            {{ form(formStock) }}
        </div>
    </div>
    {% endif %}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">{{ 'Attributes'|trans }}</h5>
            </div>
            <div class="card-body">
                {% if product.attributes|length > 0 %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Label</th>
                            <th>Required</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for attribute in product.attributes -%}
                            <tr>
                                <td>{{ attribute.name }}</td>
                                <td>{{ attribute.type }}</td>
                                <td>{{ attribute.label }}</td>
                                <td>{{ attribute.required }}</td>
                                <td>
                                   {{ include('admin/_delete_confirmation.html.twig') }}
                                   {{ include('admin/_delete_form.html.twig', { item: attribute }, with_context = false) }}
                                </td>
                            </tr>
                        {% endfor -%}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <div><i>No attributes</i></div>
                {% endif %}
                <br>
                <br>
                {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
                {{ form(form) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">{{ 'Form'|trans }}</h5>
            </div>
            <div class="card-body">
                {% form_theme formResult 'bootstrap_4_horizontal_layout.html.twig' %}
                {{ form(formResult) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}