{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'default/_flash_messages.html.twig' %}
                <h1>{{ 'Order'|trans }} {{ order.id }}</h1>
                <br>
                {% if 'confirmed' != order.status %}
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                {% endif %}
                <p>{{ order.status }}</p>
                <div class="table-responsive">
                    <table class="table">
                        {% for attribute in order.orderAttributes %}
                        <tr>
                            <td>{{ attribute.attribute.name }}</td>
                            <td>{{ attribute.value }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% if 'confirmed' != order.status %}
                <form action="{{ url('order_confirm', {uuid: order.uuid}) }}" method="post" id="delete-form">
                    <input type="hidden" name="token" value="{{ csrf_token('remove') }}" />
                    <button type="submit" class="btn btn-lg btn-primary">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        {{ 'action.confirm'|trans }}
                    </button>
                </form>
                {% endif %}

                {% if 'confirmed' == order.status %}
                <a href="https://t.me/joinchat/lzFnKMjAeLk1ZWMy" target="_blank" class="btn btn-outline-primary">Open telegram link</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}