{% extends 'base.html.twig' %}

{% block body_id 'user_password' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
        <h1>{{ 'title.change_password'|trans }}</h1>

{#        <div class="alert alert-info" role="alert">{{ 'info.change_password'|trans }}</div>#}

        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
            </button>
        {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

